.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94.2vh;
  background-color: #22333b;
}

.navbar{
  display: inline;
  background-color: #848484;
  justify-content: center;
}

.tablero{
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.h1,h1 {
  font-size: 6rem;
  color: white;
}

/* .tr{
  color: aliceblue;
} */

/* .th{
  color: aliceblue;
} */

.tableContainer{
  display: flexbox;  
}